html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth ;
    background: #232;
}

#tituloGit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: .5rem;
}

header{
    top:0vh;
    height: 3.4rem;    
    background: #232;
   /* animation: fondo 7s linear alternate infinite;     */
    width: 92vw;
   
    margin: auto;
    position: sticky;
    z-index: 1;
}


#arriba{
    /* background-color:  #46e; */
    background: #48f;
   
    background: linear-gradient(130deg, rgba(2,0,36,1) 0%, rgba(0,150,255,1) 35%, rgba(0,212,255,1) 100%);
    
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10%;
   padding: 6rem 0;
   margin: 1rem auto;
    width: 90vw;    
    border-radius: 10px;
    justify-content:center;
   
    
}

#medio{
    
  
    /* background: linear-gradient(170deg,  rgba(0,150,255,1) 0%, rgba(0,212,255,1) 100%); */
    
    width: 85vw;
    padding: 1rem 0rem 2rem ;
    
    margin-top:5rem;
    margin: 1rem auto;
     /* border:    solid #48f;
    border-width: 1rem 0rem;  */
    border-radius: 10px;
   
   }
.highlight {
    transition: all 0.2s;
    border: 2px solid  rgba(0,182,255,1) ;
    position: absolute;
    margin: auto;
    top: 5px;
    padding: 0.5rem;
    /* background: white; */
    left: -51px;
    z-index: 400;
    border-radius: 20px;
    display: block;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: -1;
    opacity: 0;
  }
.hidden{
    opacity: 1;
}


#bajo{
    background: linear-gradient(10deg, rgba(2,0,36,1) 0%, rgba(0,150,255,1) 25%, rgba(0,212,255,1) 100%);  
    border-radius: 10px;    
    
    height: min-content;
    width: 85vw;
    margin: 1rem auto;
    margin-top: 4rem;
    padding-bottom: 10rem;
    
}
footer{
    height: 2rem;
    background: #232;
    width: 90vw;
    margin: 1rem auto;
    border-radius: 10px;
}

/* HEADEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEER */
header  {
    
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    list-style-type:none;
    margin: 0 2rem;
    
    
    
}

header a{    
    text-decoration: none;      
    font-size: 1rem;  
    margin:0rem 1rem;
    
} 
header p:hover{
    color:#48d ;
    z-index: 700;
 
   
}

header li{
    margin:0rem 1rem;
   
  
    
}
header p {
    text-transform: uppercase;
    color: white;
    
   
    
}
/* ARIBAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */
#arriba img{
     /* margin-left: 0rem;  */
    border-radius: 30%;    
    padding: 1.2px;
    align-self: center;
    justify-self: flex-start;
    border-radius: 50%;
    height: 200px;
    margin-top: 1.5rem;
   
}
#arriba a {
    color: honeydew;    
    text-decoration: none; 
    
    font-size: 2.5rem;
    margin: 0.7rem;
}
#arribaA{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
#arriba a:hover{
    color: #000;
}



.arriba-texto{
    color: honeydew;
    text-decoration: none;
    text-transform: none;
}
.arriba-texto h1{
    font-size: 4rem;
   
}

.arriba-texto p{
    font-size: 1.3rem;
}

/* MEEEDDIOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */

.medio-titulo{
    
    display: flex;
    justify-content:flex-end;
    font-size:2.3rem ;    
      margin-right: 5rem;      
    
      color:   #09f;;
    
}

.medio-texto{
     display: flex;    
    justify-content: center;
    flex-wrap: wrap; 
    
}

 .medio-texto div  {
    display: flex;
    flex-flow: column;
    color: #ddd;
    font-size: 7rem;
    justify-items: center;
    margin: 0rem 2rem;
    opacity: 1;    
    position: relative;
    
}

.medio-texto div  p{
    font-size: 1rem;
    margin-top: 3rem;
    align-self: center; 
    justify-self: flex-end;     
    position: absolute;  
    color: #ddd;
    opacity: 0;
} 

.medio-texto div i {
    transition: all 0.5s linear;
   
}
.medio-texto div:hover i {
    
    animation: iRotate 0.5s linear;
    opacity: 0;
    
}
.medio-texto div:hover p{
    animation: escala 1.3s ; 
    animation-fill-mode: forwards ;
    opacity: 1;

}

@keyframes escala{
    0%{transform: scale(1)}
    100%{transform: scale(1.8)}
}
@keyframes iRotate{
    0%{transform:rotate(0deg)}
    100%{transform: rotate(180deg)}
}

/* ///////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 750px) {
    header{
        margin: auto;
        width: auto;    
        height: 2.3rem;  
    }
    header ul{
        margin:  0rem;
    }
    header p{
        justify-self: center;
    }
    header a{
        font-size: 0.7rem;
        
    }
    #arriba{
        width: auto;
        margin: 1rem auto;
        padding:  2rem 1rem;
    }
    #arriba img{
        margin: auto;
    }


    /* aaaaaaaaaaaaaaaaaaaa */
    #medio{
        width: auto;
        margin: auto;
    }
    .medio-titulo{
        justify-content: center;
        margin: auto;
    }
    .medio-texto div {
        font-size: 6rem;
    }
    /* ////////////////////////////////////////////////////// */
    .box img{
        width: 90%!important;
    }
    .box .hover{
        width: 90%!important;       
        margin-left: 5%!important;
    }
    
    /* aaaaaaaaaaaaaaaaaaaaa */
    
    #bajo{
        width: auto;
        height: auto;
        
    }  
    footer{
        margin: auto;
        width: auto;    
        height: 2.3rem;  
    }
    .highlight {
       
        top: 3px;
        padding: 0.4rem;
        /* background: white; */
        left: -17px;
       }

       /* miniProjects */
       
       .miniProject{
        
        width: 100% !important;
             
    }
   
}


/* BAJOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
.bajo-titulo{
    text-align-last:center;
    padding-top: 3rem;
    font-size: 3.2rem;
    
    color: #232;
}

#proyectos{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.proyectos-div img:hover{
    box-shadow: 0px 0px 20px #581052;
}

.proyectos-div h3, a{
    text-align: center;
    list-style-type:none;
    text-decoration: none;
   color:#232;
    
}
.proyectos-div a{
    font-size: 2rem;
    margin-top: .3rem;
  
}
.proyectos-div a:hover{
    /* text-shadow: 0px 0px 10px whitesmoke, 0px 0px 20px whitesmoke; */
    color: #fff;
   
}


.box{
    width: 33vw;
    min-width: 18rem;
    height: 48vh;
    text-align: center;
    position: relative;
    
    /* margin: 1.5%; */
    margin-bottom: 10%;
}

.box img{
    position: relative;
    width: 80%;
    height: 100%;
    top: 0;
    left: 0;
    /* margin-left:2rem ; */
    object-fit: cover;
    border: black 3px solid;
    border-radius: 10%;
    border-image-slice: 0%;
    
    
}
.box .hover:hover{
    box-shadow: 5px 5px 10px #000;
}

.box .hover {
    width: 80%;
    height: 100%;
    margin-top: 3px;
    top: 0;
    left: 0;
    /* cambie el margen para que si es mas de una palabra quede piola y el hidden */
     margin-left: 10%; 
    position: absolute;
    background: linear-gradient(10deg,  rgba(0,150,255,1) 0%, rgba(0,210,255,1) 100%);  
    color: rgba(51, 221, 51, 0);
    border-radius: 9%;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;  
  
   opacity: 0;
   transition: 1s all ease;

    
}
.box .hover p{
    transition: 2s color;
    color: white;
    text-shadow: 0px 0px 2px #000;
     transition-delay:  color 0.7s; 
}
.hover p{   
    font-size: 2rem;
    text-align: center;
    
}

.box:hover .hover {
   
    margin-left: 10%;
    opacity: 1;
    font-size: 3rem;
    
} 

.miniProject{
    margin: 1rem;
    width: 40%;
    height: 10rem;
    position: relative;
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    grid-template-rows: 1fr;
    border:3px solid #ddd;
    padding: 0.5rem;
    border-radius: 20px;
    gap: 10px;
    
    
}

.miniProject_contenido{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    /* gap: -0.5rem; */
}

.miniProject_contenido h3,
.miniProject_contenido p{
    color: white;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    
} 
.miniProject_img{
    
    border-radius:20px ;
    border: 3px solid black ;  
    overflow: hidden;    
}

.miniProject img{
    width: 100%;
    height: 100%;
    border-radius: 17px;
    position: relative;
    object-fit: cover;
    
}


.miniProject_title{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
    margin-bottom: 1rem;

}
.miniProject_title h3,
.miniProject_title a{
    text-align: center;
    color: #ded;
    list-style-type:none;
    text-decoration: none;
    /* text-shadow: 0px 1px 0px #888; */
}
.miniProject_title i{
    font-size: 2rem;
}

.miniProject_title h3:hover,
.miniProject_title a:hover{
    /* text-shadow: 0px 0px 10px whitesmoke, 0px 0px 20px whitesmoke; */
    color: #fff;
    text-shadow: 0 1px 0 #000 ;
   
}